# **Task 1:Lists**

In [7]:
#create list of 10 integers
num = [32,12,34,54,23,12,3,44,5,32]
print(num)

#find and print the sum, maximum, and minimum

print('Sum',sum(num))
print('Max',max(num))
print('Min',min(num))

#add and remove element
num.append(100)
num.remove(32)
print("updated list: ",num)

#sort the list
#ascending
num.sort()
print('Sorted list: ',num)
#descending
num.reverse()
print('reverse list: ',num)

[32, 12, 34, 54, 23, 12, 3, 44, 5, 32]
Sum 251
Max 54
Min 3
updated list:  [12, 34, 54, 23, 12, 3, 44, 5, 32, 100]
Sorted list:  [3, 5, 12, 12, 23, 32, 34, 44, 54, 100]
reverse list:  [100, 54, 44, 34, 32, 23, 12, 12, 5, 3]

# **Task 2:Tuples**

In [ ]:
#create a tuple
Fruits = ('apple', 'banana', 'cherry', 'mango', 'grape')
print(Fruits)
print('First element', Fruits[0])
print('Last element', Fruits[-1])

#error on updation
# Fruits.append('orange')
# print(Fruits)


#convert tuple in list and update
Fruits_list = list(Fruits)
Fruits_list.append('orange')
print(Fruits_list)

# **Task 3:Sets**

In [10]:
#Create sets
A={1,2,3,4,5}
B={2,3,4,5,6}

# Union, intersection, and difference
print('Union',A | B)
print('Intersection',A & B)
print('Difference',A - B)

Union {1, 2, 3, 4, 5, 6}
Intersection {2, 3, 4, 5}
Difference {1}

# **Task 4:Dictionary**

In [ ]:
#create a dictionary of Friends and their marks
Friend_marks = {
    'Ismail': 98,
    'Mohiz': 92,
    'Hammad': 78,
    'Hanif': 95,
    'Hamid': 88
}

#print the Key and values
print('key',Friend_marks.keys())
print('Values',Friend_marks.values())

#update value
Friend_marks['Hammad']=85
print(Friend_marks)

# **Task 5: Numpy**

# **Task 6:Matplolib**